* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: #596d48;
  --color-dark: #000;
  --input-color: #e5e7eb;
  --input-focus-color: #336cdd;
  --error-color: #f33333;
  --transition: all 0.3s ease;
}

@font-face {
  font-family: 'myNorse';
  font-weight: Bold;
  src: url('./font/Norse-Bold.otf') format('truetype');
}

body {
  background: #434443;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.img-box {
  flex: 1;
}

.img-box img {
  height: 100vh;
  display: block;
}

.content {
  flex: 2;
  padding: 5rem 3rem;
  background-color: var(--input-color);
}

.content-text {
  margin: 3rem 0;
}

.content-text p {
  font-size: 1.3rem;
  color: var(--color-dark);
  font-weight: 600;
}

.content-text p:nth-child(2) {
  margin-top: 0.7rem;
  font-weight: 400;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

.input-group {
  width: 40%;
  margin: 0.2rem 0;
  
}
.input-group label {
  display: block;
}

.input-group input {
  font: inherit;
  width: 100%;
  padding: 0.1rem 0.2rem;
}



.login button {
  border: none;
  background-color: var(--btn-color);
  display: block;
  color: var(--input-color);
  padding: 0.7rem 2rem;
  border-radius: 5px;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login button:hover {
  background-color: #819b6b;
  color: #ffff;
}

.login p {
  font-size: 0.9rem;
  margin: 1.2rem 0;
}
.login a {
  color: var(--btn-color);
  transition: var(--transition);
}

.login a:hover {
  color: #2b5606;
}
/* font-family: 'myNorse', Fallback, sans-serif; */

  font-family: 'Shadows Into Light', cursive; */
